.elementor-2 .elementor-element.elementor-element-70c02351:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-70c02351>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffd700;
}

.elementor-2 .elementor-element.elementor-element-70c02351>.elementor-background-overlay {
    background-position: center left;
    background-size: cover;
    opacity: 0;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-70c02351 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 150px 50px;
}

.elementor-2 .elementor-element.elementor-element-5b22fc24 img {
    width: 24%;
}

.elementor-2 .elementor-element.elementor-element-5e516a1a {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-5e516a1a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Assistant", Sans-serif;
    font-size: 34px;
    font-weight: 900;
}

.elementor-2 .elementor-element.elementor-element-ec3263 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-ec3263 .elementor-heading-title {
    color: #F3702A;
    font-family: "Assistant", Sans-serif;
    font-size: 71px;
    font-weight: 900;
}

.elementor-2 .elementor-element.elementor-element-ec3263>.elementor-widget-container {
    margin: -36px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-32aa4877:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-32aa4877>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000 0%, #F3702A 0%);
}

.elementor-2 .elementor-element.elementor-element-32aa4877 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-32aa4877>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-21d3decc img {
    width: 74%;
}

.elementor-2 .elementor-element.elementor-element-21d3decc>.elementor-widget-container {
    margin: -244px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-7f9974f4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 20px 20px 20px;
}

.elementor-2 .elementor-element.elementor-element-7f9974f4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-2bd18d5c>.elementor-element-populated,
.elementor-2 .elementor-element.elementor-element-2bd18d5c>.elementor-element-populated>.elementor-background-overlay,
.elementor-2 .elementor-element.elementor-element-2bd18d5c>.elementor-background-slideshow {
    border-radius: 2px 2px 2px 2px;
}

.elementor-2 .elementor-element.elementor-element-2bd18d5c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 20px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-2 .elementor-element.elementor-element-2bd18d5c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-c1a6aa0 .elementor-button {
    font-family: "Assistant", Sans-serif;
    font-weight: 600;
    background-color: #35BE48;
    border-radius: 200px 200px 200px 200px;
}

.elementor-2 .elementor-element.elementor-element-53914633 .elementor-button {
    font-family: "Assistant", Sans-serif;
    font-weight: 600;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #F3702A;
    border-radius: 100px 100px 100px 100px;
}

.elementor-2 .elementor-element.elementor-element-6e4a17af {
    padding: 20px 20px 20px 20px;
}

.elementor-2 .elementor-element.elementor-element-24bae1b5 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-24bae1b5 .elementor-heading-title {
    color: #F3702A;
    font-family: "Assistant", Sans-serif;
    font-size: 31px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-62eb7bd9 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-62eb7bd9 .elementor-heading-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-62eb7bd9>.elementor-widget-container {
    margin: -21px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-5e8952c {
    text-align: center;
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-1f6a6319 {
    padding: 0px 20px 20px 20px;
}

.elementor-2 .elementor-element.elementor-element-61583181>.elementor-element-populated {
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
    border-color: #CFCFCF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-61583181>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-58c109e9.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-58c109e9.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-58c109e9.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-58c109e9 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2 .elementor-element.elementor-element-58c109e9 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-58c109e9 .elementor-image-box-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-58c109e9 .elementor-image-box-description {
    font-family: "Assistant", Sans-serif;
    font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-42ecf542>.elementor-element-populated {
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
    border-color: #CFCFCF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-42ecf542>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-36e89db8.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-36e89db8.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-36e89db8.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-36e89db8 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2 .elementor-element.elementor-element-36e89db8 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-36e89db8 .elementor-image-box-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-72fe7aaf>.elementor-element-populated {
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
    border-color: #CFCFCF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-72fe7aaf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-6d748641.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-6d748641.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-6d748641.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-6d748641 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2 .elementor-element.elementor-element-6d748641 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-6d748641 .elementor-image-box-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-5c14093d>.elementor-element-populated {
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
    border-color: #CFCFCF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-5c14093d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-27a61a11.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-27a61a11.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2 .elementor-element.elementor-element-27a61a11.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-27a61a11 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-2 .elementor-element.elementor-element-27a61a11 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-27a61a11 .elementor-image-box-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-weight: 600;
}

.elementor-2 .elementor-element.elementor-element-b5a47ef>.elementor-background-overlay {
    background-image: url("https://lidor-car.ussl.co.il/wp-content/uploads/2023/12/car-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.21;
}

.elementor-2 .elementor-element.elementor-element-b5a47ef {
    padding: 40px 40px 40px 40px;
}

.elementor-2 .elementor-element.elementor-element-6597d60 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-6597d60 .elementor-heading-title {
    color: #F3702A;
    font-family: "Assistant", Sans-serif;
    font-size: 31px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-b18d120 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-b18d120 .elementor-heading-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-b18d120>.elementor-widget-container {
    margin: -21px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-702c958 .elementor-testimonial__text {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-702c958 .elementor-testimonial__name {
    color: #F3702A;
    font-family: "Assistant", Sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-702c958 .elementor-swiper-button {
    font-size: 20px;
    color: #000000;
}

.elementor-2 .elementor-element.elementor-element-702c958 .elementor-swiper-button svg {
    fill: #000000;
}

.elementor-2 .elementor-element.elementor-element-9c23339 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 30px;
    --padding-block-end: 30px;
    --padding-inline-start: 30px;
    --padding-inline-end: 30px;
}

.elementor-2 .elementor-element.elementor-element-9c23339:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-9c23339>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F3702A;
}

.elementor-2 .elementor-element.elementor-element-9c23339,
.elementor-2 .elementor-element.elementor-element-9c23339::before {
    --border-transition: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-8714f02 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-8714f02 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Assistant", Sans-serif;
    font-weight: 900;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-2 .elementor-element.elementor-element-6362640 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-2 .elementor-element.elementor-element-6362640 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-2 .elementor-element.elementor-element-6362640 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group>label,
.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-subgroup label {
    color: #000000;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group>label {
    font-family: "Assistant", Sans-serif;
    font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group .elementor-field {
    color: #000000;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group .elementor-field,
.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-subgroup label {
    font-family: "Assistant", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-field-group .elementor-select-wrapper::before {
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-button {
    font-family: "Assistant", Sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.elementor-2 .elementor-element.elementor-element-6362640 .e-form__buttons__wrapper__button-next {
    background-color: #000000;
    color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-button[type="submit"] {
    background-color: #000000;
    color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .e-form__buttons__wrapper__button-next:hover {
    background-color: var( --e-global-color-secondary);
    color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-button[type="submit"]:hover {
    background-color: var( --e-global-color-secondary);
    color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-2 .elementor-element.elementor-element-6362640 .elementor-message {
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-2 .elementor-element.elementor-element-6362640 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-2 .elementor-element.elementor-element-35a2f30 {
    padding: 20px 20px 20px 20px;
}

.elementor-2 .elementor-element.elementor-element-c787a0b {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-c787a0b .elementor-heading-title {
    color: #F3702A;
    font-family: "Assistant", Sans-serif;
    font-size: 31px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-20614e9 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-20614e9 .elementor-heading-title {
    color: #000000;
    font-family: "Assistant", Sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.elementor-2 .elementor-element.elementor-element-20614e9>.elementor-widget-container {
    margin: -21px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3d0703f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-3755382 {
    --e-image-carousel-slides-to-show: 5;
}

.elementor-2 .elementor-element.elementor-element-3755382 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-2 .elementor-element.elementor-element-3755382 .elementor-swiper-button.elementor-swiper-button-next {
    font-size: 24px;
}

.elementor-2 .elementor-element.elementor-element-3755382 .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
}

.elementor-2 .elementor-element.elementor-element-3755382 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-radius: 5px 5px 5px 5px;
}

@media(min-width:1025px) {
    .elementor-2 .elementor-element.elementor-element-b5a47ef>.elementor-background-overlay {
        background-attachment: fixed;
    }
}

@media(max-width:767px) {
    .elementor-2 .elementor-element.elementor-element-70c02351>.elementor-background-overlay {
        background-position: center center;
    }
    .elementor-2 .elementor-element.elementor-element-70c02351 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 100px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-5b22fc24 img {
        width: 86%;
    }
    .elementor-2 .elementor-element.elementor-element-5e516a1a .elementor-heading-title {
        font-size: 28px;
    }
    .elementor-2 .elementor-element.elementor-element-ec3263 .elementor-heading-title {
        font-size: 48px;
    }
    .elementor-2 .elementor-element.elementor-element-ec3263>.elementor-widget-container {
        margin: -26px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-21d3decc img {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-21d3decc>.elementor-widget-container {
        margin: -132px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-2bd18d5c>.elementor-element-populated {
        margin: 00px 00px 00px 00px;
        --e-column-margin-right: 00px;
        --e-column-margin-left: 00px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-21ca2ed4 {
        width: 50%;
    }
    .elementor-2 .elementor-element.elementor-element-2a9eb322 {
        width: 50%;
    }
    .elementor-2 .elementor-element.elementor-element-62eb7bd9 .elementor-heading-title {
        font-size: 47px;
    }
    .elementor-2 .elementor-element.elementor-element-1f6a6319 {
        padding: 0px 10px 10px 10px;
    }
    .elementor-2 .elementor-element.elementor-element-61583181 {
        width: 50%;
    }
    .elementor-2 .elementor-element.elementor-element-58c109e9 .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-58c109e9.elementor-position-right .elementor-image-box-img {
        margin-left: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-58c109e9.elementor-position-left .elementor-image-box-img {
        margin-right: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-58c109e9.elementor-position-top .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-58c109e9 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 72%;
    }
    .elementor-2 .elementor-element.elementor-element-42ecf542 {
        width: 50%;
    }
    .elementor-2 .elementor-element.elementor-element-36e89db8 .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-36e89db8 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 72%;
    }
    .elementor-2 .elementor-element.elementor-element-36e89db8 .elementor-image-box-title {
        font-size: 21px;
    }
    .elementor-2 .elementor-element.elementor-element-72fe7aaf {
        width: 50%;
    }
    .elementor-2 .elementor-element.elementor-element-6d748641 .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-6d748641 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 72%;
    }
    .elementor-2 .elementor-element.elementor-element-5c14093d {
        width: 50%;
    }
    .elementor-2 .elementor-element.elementor-element-27a61a11 .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-2 .elementor-element.elementor-element-27a61a11 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 72%;
    }
    .elementor-2 .elementor-element.elementor-element-b5a47ef {
        padding: 10px 0px 10px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-b18d120 .elementor-heading-title {
        font-size: 28px;
    }
    .elementor-2 .elementor-element.elementor-element-702c958 .elementor-testimonial__text {
        font-size: 23px;
    }
    .elementor-2 .elementor-element.elementor-element-20614e9 .elementor-heading-title {
        font-size: 28px;
    }
}
